body {
    background-color: #f9f9f9;
}

.pro-image {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
